In [27]:
import pandas as pd
import numpy as np
df = pd.read_csv('TSLA_Without_Date.csv')
df.head()

         Open        High         Low       Close   Adj Close    Volume
0  305.769989  311.440002  301.049988  310.700012  310.700012  21777600
1  313.950012  316.839996  299.149994  301.019989  301.019989  11743500
2  303.329987  304.600006  291.570007  294.799988  294.799988   7995000
3  293.950012  294.000000  277.670013  281.829987  281.829987   9814200
4  274.649994  274.880005  260.000000  261.950012  261.950012  17944500

In [28]:
#date_range function in pandas will assign dates using the given parameters. B stands for Business day 
possible_dates = pd.date_range(start='2018-10-01', end='2018-10-31', freq = 'B')
possible_dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12', '2018-10-15', '2018-10-16',
               '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-22',
               '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-29', '2018-10-30', '2018-10-31'],
              dtype='datetime64[ns]', freq='B')

In [29]:
#setting dates as the column for our data
df.set_index(possible_dates, inplace = True)

In [30]:
df

,Open,High,Low,Close,Adj Close,Volume
2018-10-01,305.769989,311.440002,301.049988,310.700012,310.700012,21777600
2018-10-02,313.950012,316.839996,299.149994,301.019989,301.019989,11743500
2018-10-03,303.329987,304.600006,291.570007,294.799988,294.799988,7995000
2018-10-04,293.950012,294.000000,277.670013,281.829987,281.829987,9814200
2018-10-05,274.649994,274.880005,260.000000,261.950012,261.950012,17944500
2018-10-08,264.519989,267.760010,249.000000,250.559998,250.559998,13472700
2018-10-09,255.250000,266.769989,253.300003,262.799988,262.799988,12060600
2018-10-10,264.609985,265.510010,247.770004,256.880005,256.880005,12815300
2018-10-11,257.529999,262.250000,249.029999,252.229996,252.229996,8167700
2018-10-12,261.000000,261.989990,252.009995,258.779999,258.779999,7201400
2018-10-15,259.059998,263.279999,254.539993,259.589996,259.589996,6200000
2018-10-16,265.700012,277.380005,262.239990,276.589996,276.589996,9526400
2018-10-17,282.399994,282.700012,265.799988,271.779999,271.779999,8655500
2018-10-18,269.290009,271.000000,263.000000,263.910004,263.910004,5421200
2018-10-19,267.390015,269.660004,253.500000,260.000000,260.000000,9375500
2018-10-22,260.679993,261.859985,252.589996,260.950012,260.950012,5600300
2018-10-23,263.869995,297.929993,262.100006,294.140015,294.140015,19027800
2018-10-24,301.049988,304.440002,285.730011,288.500000,288.500000,20058300
2018-10-25,317.220001,321.000000,301.010010,314.859985,314.859985,20840700
2018-10-26,308.250000,339.899994,306.649994,330.899994,330.899994,27425500
2018-10-29,337.470001,347.160004,326.500000,334.850006,334.850006,14486000
2018-10-30,328.390015,337.899994,322.260010,329.899994,329.899994,9126700
2018-10-31,332.540009,342.000000,329.100006,337.320007,337.320007,7624300

In [31]:
#If we also want to see the prices on weekends as well, which will obviously be similar to the friday closing prices
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases
df.asfreq('D', method ='pad')

,Open,High,Low,Close,Adj Close,Volume
2018-10-01,305.769989,311.440002,301.049988,310.700012,310.700012,21777600
2018-10-02,313.950012,316.839996,299.149994,301.019989,301.019989,11743500
2018-10-03,303.329987,304.600006,291.570007,294.799988,294.799988,7995000
2018-10-04,293.950012,294.000000,277.670013,281.829987,281.829987,9814200
2018-10-05,274.649994,274.880005,260.000000,261.950012,261.950012,17944500
2018-10-06,274.649994,274.880005,260.000000,261.950012,261.950012,17944500
2018-10-07,274.649994,274.880005,260.000000,261.950012,261.950012,17944500
2018-10-08,264.519989,267.760010,249.000000,250.559998,250.559998,13472700
2018-10-09,255.250000,266.769989,253.300003,262.799988,262.799988,12060600
2018-10-10,264.609985,265.510010,247.770004,256.880005,256.880005,12815300
2018-10-11,257.529999,262.250000,249.029999,252.229996,252.229996,8167700
2018-10-12,261.000000,261.989990,252.009995,258.779999,258.779999,7201400
2018-10-13,261.000000,261.989990,252.009995,258.779999,258.779999,7201400
2018-10-14,261.000000,261.989990,252.009995,258.779999,258.779999,7201400
2018-10-15,259.059998,263.279999,254.539993,259.589996,259.589996,6200000
2018-10-16,265.700012,277.380005,262.239990,276.589996,276.589996,9526400
2018-10-17,282.399994,282.700012,265.799988,271.779999,271.779999,8655500
2018-10-18,269.290009,271.000000,263.000000,263.910004,263.910004,5421200
2018-10-19,267.390015,269.660004,253.500000,260.000000,260.000000,9375500
2018-10-20,267.390015,269.660004,253.500000,260.000000,260.000000,9375500
2018-10-21,267.390015,269.660004,253.500000,260.000000,260.000000,9375500
2018-10-22,260.679993,261.859985,252.589996,260.950012,260.950012,5600300
2018-10-23,263.869995,297.929993,262.100006,294.140015,294.140015,19027800
2018-10-24,301.049988,304.440002,285.730011,288.500000,288.500000,20058300
2018-10-25,317.220001,321.000000,301.010010,314.859985,314.859985,20840700
2018-10-26,308.250000,339.899994,306.649994,330.899994,330.899994,27425500
2018-10-27,308.250000,339.899994,306.649994,330.899994,330.899994,27425500
2018-10-28,308.250000,339.899994,306.649994,330.899994,330.899994,27425500
2018-10-29,337.470001,347.160004,326.500000,334.850006,334.850006,14486000
2018-10-30,328.390015,337.899994,322.260010,329.899994,329.899994,9126700
2018-10-31,332.540009,342.000000,329.100006,337.320007,337.320007,7624300

In [32]:
#If we have start date but no end date
possible_dates = pd.date_range(start='2018-10-01', periods= 48, freq = 'B')
possible_dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12', '2018-10-15', '2018-10-16',
               '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-22',
               '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-29', '2018-10-30', '2018-10-31', '2018-11-01',
               '2018-11-02', '2018-11-05', '2018-11-06', '2018-11-07',
               '2018-11-08', '2018-11-09', '2018-11-12', '2018-11-13',
               '2018-11-14', '2018-11-15', '2018-11-16', '2018-11-19',
               '2018-11-20', '2018-11-21', '2018-11-22', '2018-11-23',
               '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29',
               '2018-11-30', '2018-12-03', '2018-12-04', '2018-12-05'],
              dtype='datetime64[ns]', freq='B')

In [36]:
# Useful in generating radom data
np.random.randint(1,20,len(possible_dates))

array([15, 10,  1, 17, 18,  9, 19,  9,  8,  7,  7,  5,  2,  4, 13,  6,  9,
       15, 11,  6,  8, 14, 10, 17, 19,  6,  9, 16,  4,  5,  9, 17,  4, 16,
       12, 12, 16,  6,  5,  3, 18,  8, 18,  8,  1,  2, 15,  1])

In [39]:
# Now, generating a random series, samples to conduct unit or integration test etc.
random_time_series = pd.Series(np.random.randint(1,20,len(possible_dates)), index = possible_dates)
random_time_series.head(10)

2018-10-01    11
2018-10-02    18
2018-10-03    19
2018-10-04     7
2018-10-05    12
2018-10-08    18
2018-10-09    10
2018-10-10    14
2018-10-11     6
2018-10-12    18
Freq: B, dtype: int64